flask
numpy
scipy
soundfile
openai-whisper
deep-translator
gTTS
pydub
sounddevice
deep-translator
flask
gTTS
numpy
openai-whisper
pydub
scipy
sounddevice
soundfile
whisper
deep-translator
flask
gTTS
numpy
openai-whisper
pydub
scipy
sounddevice
soundfile
gunicorn
